[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
ipython = "*"
ruff = "*"

[packages]
adafruit-python-shell = "~=1.11"
adafruit-blinka = "~=9.0"
adafruit-circuitpython-seesaw = "~=1.18"
Pillow = "~=11.3"
tk = "~=0.1"

[requires]
python_version = "3.11"
