[Desktop Entry]
Encoding=UTF-8
Version=0.9.5
Type=Application
Name=Rframe Slideshow
Comment=
Exec=/home/jacob/rframe/run.sh
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

